<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393299272640-2718ko9jl402va7le7j1s2pojmdvrqg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393299272640-2718ko9jl402va7le7j1s2pojmdvrqg2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393299272640-asvpsscm5flmah3vaaqi927qqmvo3b1k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwESfxOO68vXzmMkCUyntsrQ7evFkRUMk</string>
	<key>GCM_SENDER_ID</key>
	<string>393299272640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-d6fd2</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-d6fd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393299272640:ios:dc264c41f71f5343f8de25</string>
</dict>
</plist>